.footer {
  display: flex;
  flex-direction: column;
  position: relative;

  margin-top: -4rem;
}

.footer__img > img {
  width: 100%;
  height: 18rem;
}

.footer__content {
  position: absolute;
  top: 6.5rem;
  left: 26rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 4px solid #fff;
  padding: 1rem;
}

.footer__email {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  color: #fff;
}

.footer__email > span {
  color: rgb(47, 45, 45);
}
.footer__email > a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.footer__email a:hover {
  color: rgb(255, 0, 0);
  cursor: pointer;
}

.footer__icons {
  margin-top: 0.5rem;
}
.footer__icons > span > a {
  cursor: pointer;
  color: #fff;
  text-decoration: none;
}
.footer__icons > span > a:hover {
  color: rgb(255, 0, 0);
}

.footer__icons span:nth-child(2) {
  margin: 0 1rem;
}

.copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
  color: rgb(255, 251, 251);
}

.copyright span:nth-child(1):hover {
  cursor: pointer;
  color: rgb(255, 9, 9);
}

.copyright span:nth-of-type(2) {
  color: rgb(54, 50, 50);
}

@media only screen and (max-width: 768px) {
  .footer__content {
    position: static;
    background-color: var(--orange);
  }
  .footer__img {
    display: none;
  }
}
